@{
    ViewData["Title"] = "Políticas de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Santiago Girbau 2025 - Taller De Lenguajes II</p>
<p>Derechos de uso reservado</p> <p>prohibida su venta a menores de 18 años</p> 
<p>El uso prolongado de esta página puede provocar Impotencia y problemas reproductivos, 
Ansiedad, irritabilidad y depresión (síntomas de abstinencia),
Problemas para dormir, pesadillas,
Tensión, inquietud, frustración (síntomas de abstinencia),
Dolores de cabeza,
Aumento del apetito,
Alteraciones cognitivas,
Cáncer de pulmón,
Cáncer de boca, laringe, esófago,
Cáncer de vejiga, hígado, riñón, estómago, páncreas, colon, recto, cérvix,
Daño al corazón y vasos sanguíneos,
Aterosclerosis,
Ataques cardíacos,
Accidentes cerebrovasculares,
Enfermedad Pulmonar Obstructiva Crónica (EPOC),
Enfisema,
Bronquitis crónica,
Neumonía,
Asma,
Depresión y ansiedad (riesgo a largo plazo),
Enfermedades neurodegenerativas,
Cataratas,

Gastritis,
Daño óseo,
Muerte prematura y otros efectos secundarios no estudiados.
</p>
